.btn {
    padding: 15px 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: rgb(252, 184, 22);
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    width: 150px;
}

.btn p {
    font-size: 14px;
    padding-left: 4px;
}

.btn:hover {
    color: black;
    border-radius: 4px;
}