.dropdown-menu {
    z-index: 200;
    width: 135px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
    background: rgb(76, 84, 85)
}

.dropdown-menu li {
    cursor: pointer;
    transition: all 0.5s ease;
}

.dropdown-menu li:hover {
    background-color: #fcb812;
    color: black;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

.positionForUserContainer {
    top: 60px;
    width: 160px
}

.userName {
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 1256px) {
    .dropdown-menu {
        top: 30px;
        right: 3px;
    }
}

@media screen and (min-width: 600px) {
    .usernameInDropDown {
        display: none;
    }
}