.mainContainer {
    background-color: #fcb812;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoaderContainer {
    display: block;
    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loader {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}