.mainContainer {
    background-color: #fcb812;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoaderContainer {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}
