.mainBox {
    margin: 5rem auto;
}

.city_links {
    line-height: 2rem;
    cursor: pointer;
    font-size: 14px;
}

.city_links p:hover {
    color: rgb(252, 184, 22);
}

.marginTop {
    margin-top: 1rem;
}

.marginBottom {
    margin-bottom: 1rem;
    color: #fcb812;
}

@media only screen and (max-width: 960px) {
    .wrapper3 {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper2 {
        margin-top: 40px;
    }
}