.mainBox {
    margin: 5rem auto;
}

.city_links {
    line-height: 2.5rem;
    cursor: pointer;
    font-size: 14px;
}

.city_links p:hover {
    color: rgb(252, 184, 22);
}

.marginTop {
    margin-top: 1rem;
}

.links {
    text-decoration: none;
    color: black
}

.marginBottom {
    margin-bottom: 1rem;
    color: #fcb812;
}

@media only screen and (max-width: 960px) {
    .wrapper {
        margin-top: 16px !important;
    }
}