.MainContainer {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MainContainer h1 {
    padding: 10px 0px;
}

.CardContainer {
    width: 90%;
    margin: 60px 0px;
}