* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.yellow {
  color: #fcb812;
}

.custom-scroll {
  overflow-y: scroll;
}

/* The emerging W3C standard
   that is currently Firefox-only */

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: white #fcb812;
}

/* Works on Chrome/Edge/Safari */

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: white;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #fcb812;
}

.buttonStyle {
  padding: 15px;
  margin-left: 15px;
  background-color: #fcb812;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.checkingtest {
  border: 10px solid green
}