.tab_slider {
    width: '100%';
    min-height: 60px;
    border-bottom: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.priceRange {
    display: flex;
    margin-top: auto;
}

.mylabel p {
    font-weight: bold;
    font-size: 12px;
    padding-top: 8px;
    color: #fcb812;
}

.priceRange p {
    flex-grow: 1;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0px;
    color: rgb(59, 70, 86);
}

.tab_slider:hover {
    border-bottom: 2px solid black;
}

.priceBox {
    background-color: rgb(25, 25, 25);
    color: white;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 65px;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    cursor: auto;
}

.priceHeading {
    flex-basis: 50%;
    margin: 0px 10px
}

.priceHeading h5 {
    padding: 5px;
    text-align: center;
}

.priceValues {
    border: 1px solid rgb(172, 172, 172);
}

.priceValues p, .priceValues p {
    border: 1px solid rgb(172, 172, 172);
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

.priceValues p:active {
    background-color: #fcb812;
}

@media screen and (max-width: 960px) {
    .tab_slider {
        margin-bottom: 10px;
    }
}